.item {
  margin-left: 15px;
  font-weight: 700;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link,
.link2 {
  margin-right: 5px;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.71;

  color: var(--primaryTextColor);
  transition: color 250ms var(--timingFn);
}

.link2:after {
  margin-left: 5px;
  content: '...............................................';
}

.link:hover,
.link:focus,
.link2:hover,
.link2:focus {
  color: var(--accentColor);
}

.name {
  font-weight: 400;
  line-height: 1.71;
  color: var(--primaryTextColor);
}
