.sidebar {
  padding: 10px;
  background: var(--sidebarColor);

  display: flex; /* корегуй для друку*/
  flex-direction: row; /* корегуй для друку*/
  flex-wrap: wrap; /* корегуй для друку*/
  /* width: 50%; */
}

.section {
  margin: 0 0 20px 0;
  padding-left: 10px;
  font-size: 12px;
}
.section:nth-child(2) {
  margin-top: 40px;
}
.section_photo {
  margin: 0px;
  padding-left: 10px;
  align-items: center;
  width: 50%;
  margin-bottom: 20px;
}
.photo {
  border-radius: 10%;
  width: 90%;
}

.title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.09;
  color: var(--sidebarColorHeader);
}

.text {
  line-height: 1.71;
  color: var(--sidebarColorText);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: auto;
  padding: 10px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  cursor: pointer;
  transition: all 250ms var(--timingFn);
  color: #fff;
  background-color: var(--accentColor);
  border: 2px solid var(--accentColor);
  border-radius: 25px;
}

.link:hover,
.link:focus {
  color: var(--accentColor);
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .sidebar {
    padding: 20px;
    width: 30%;
    flex-direction: column; /* корегуй для друку*/
  }
  .section {
    margin-top: 20px;
    padding-left: 0;
    width: 100%;
    font-size: inherit;
  }
  .section:nth-child(2) {
    margin-top: 20px;
  }
  .section_photo {
    width: 100%;
  }
  .photo {
    width: 50%;
  }
}
