.item {
  list-style: none;
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.company {
  color: var(--accentColor);
}

.time {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 2;
  color: var(--secondaryTextColor);
}

.divider {
  color: var(--primaryTextColor);
}

.duty {
  line-height: 1.71;
  list-style: inside;
  color: var(--primaryTextColor);
}
