.container {
  padding: 60px 30px;
  flex-grow: 1;
  display: flex;
  position: relative;
  flex-direction: column;
}
.link_btn {
  /* position: absolute; */
  color: brown;
  padding: 5px auto;
}
.section:not(:last-child) {
  margin-bottom: 40px;
}

.profession {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--accentColor);
}

.name {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  line-height: 1.71;
  text-align: justify;
}

.title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.09;
}

.subTitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.typeProject {
  color: var(--accentColor);
}

.list {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 30px 20px;
    width: 70%;
  }
  .name {
    font-size: 40px;
    line-height: 1.8;
  }
}
