.container {
  padding: 60px 20px;
  /* flex-grow: 1; */
  display: flex;
  position: relative;
  flex-direction: column;
}
.link_btn {
  display: inline-block;
  position: absolute;
  right: 20px;
  height: 50px;
  padding: 5px 20px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  align-content: center;

  cursor: pointer;
  transition: all 250ms var(--timingFn);
  color: var(--accentColor);
  background-color: #fff;
  border: 2px solid var(--accentColor);
  border-radius: 25px;
}
.link_btn:hover,
.link_btn:focus {
  color: var(--accentColor);
  background-color: transparent;
}
.section:not(:last-child) {
  margin-bottom: 20px;
}

.profession {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--accentColor);
}

.name {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  line-height: 1.71;
  text-align: justify;
}

.title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.09;
}

.subTitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.typeProject {
  color: var(--accentColor);
}

.list {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 30px 15px;
    width: 70%;
  }
  .name {
    font-size: 40px;
    line-height: 1.8;
  }
}
